<div class="dupli-atc-wrapper second--button-wrap">
  {%- if card_product.variants.size > 1 or qty_rules -%}
    <div class="duplicate-quick-add  button--full-width button--secondary" >
      <a href="{{ card_product.url }}" style="background-color:{{ settings.atc_color }};">{{ 'products.product.choose_options' | t }}</a>
      {% comment %}
        <span class="dupli__quicktext"> {{ 'products.product.choose_options' | t }}</span>
        {%- if horizontal_quick_add -%}
          <span class="icon-wrap">{% render 'icon-arrow' %}</span>
        {%- endif -%}
        {%- render 'loading-spinner' -%}
      {% endcomment %}
    </div>

  {%- else -%}
    <button
      style="background-color:{{ settings.atc_color }};"
      class="
        duplicate--addtocart-btn button button--full-width button--secondary {% if card_product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      "
    >
      {%- if card_product.selected_or_first_available_variant.available -%}
        {% render 'icon-cart-svg' %}
        <span class="dupli__atctext">{{ 'products.product.add_to_cart' | t }}</span>
      {%- else -%}
        <span>{{ 'products.product.sold_out' | t }}</span>
      {%- endif -%}

      <span class="sold-out-message hidden">
        {{ 'products.product.sold_out' | t }}
      </span>
      {%- if horizontal_quick_add -%}
        <span class="icon-wrap">{% render 'icon-plus' %}</span>
      {%- endif -%}
      {%- render 'loading-spinner' -%}
    </button>
  {%- endif -%}
</div>
