{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="collection--tab-wrapper tabs-with-collection-section container page-width">
  <div class="collection--tab-content">
    {% if section.settings.title != blank %}
      <div class="title">
        <h2 class="h4 carousel__title home-section-title mb-30" style="color:#c69794;">
          {{ section.settings.title }}
        </h2>
      </div>
    {% endif %}
    <div class="tab--content-wrapper">
      <div class="tab_wrap">
        <div class="coll_tab-wrap">
          {% for block in section.blocks %}
            {% if block.type == 'collection_tab' %}
              {% assign collection = block.settings.colletion %}
              {% if collection != blank %}
                <div
                  class=" tab_titles {% if forloop.first %}active{% endif %}"
                  data-target="coll_{{ collection.id }}"
                >
                  {{ block.settings.colletion_name | default: collection.title }}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab_content_wrap collection--content-wrap ">
        <div class="collection-product-wrap">
          <div
            class="tab_content js_collectionslider"
          >
            {% for block in section.blocks %}
              {% if block.type == 'collection_tab' %}
                {% if block.settings.colletion != blank %}
                  {% assign collection = block.settings.colletion %}
                  {% assign maxcount = block.settings.product_limit %}
                  {% capture dynamic_class %}coll_{{ collection.id }}{% endcapture %}
                  {%- for product in collection.products limit: maxcount -%}
                    {% render 'card-product',
                      card_product: product,
                      dynamic_class: dynamic_class,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_quick_add: true,
                      section_id: section.id
                    %}
                  {%- endfor -%}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Tabs with Collection",
  "settings": [
     {
      "type":"text",
      "id":"title",
      "label":"Title"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    }
  ],
  "blocks":[
    {
      "name":"Content",
      "type":"collection_tab",
      "settings":[
        {
          "type":"text",
          "id":"colletion_name",
          "label":"Collection Name",
          "info":"If this setting is blank then show collection name"
        },
        {
          "type":"collection",
          "id":"colletion",
          "label":"Collection"
        },
         {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
        {
          "type": "range",
          "id": "product_limit",
          "min": 5,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Product Limit",
          "default": 16
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Collection Tabs",
      "category":"Home"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
